@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

	.width-xl {
		width: 1280px;
	}

	.width-lg {
		width: 1024px;
	}

	.width-md {
		width: 768px;
	}

	.width-sm {
		width: 640px;
	}

	.width-600 {
		width: 600px;
	}

	.bg-accent-color {
		background-color: #292c34;
	}
}

.post-content h2 {
	@apply text-xl font-bold mt-6
}

.post-content p {
	@apply mt-2
}

.post-content img {
	@apply mt-4
}

.post-content table {
	@apply w-full mt-2 table-fixed
}

.post-content table th:first-child {
	@apply w-1/6
}

.post-content table tbody tr {
	@apply border-b
}

.post-content table tbody tr td {
	@apply py-2
}

.post-content table tbody tr td:first-child {
	@apply text-gray-500
}

.post-table-of-contents a {
	@apply hover:underline
}