@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

	.width-xl {
		width: 1280px;
	}

	.width-lg {
		width: 1024px;
	}

	.width-md {
		width: 768px;
	}

	.width-sm {
		width: 640px;
	}

	.width-600 {
		width: 600px;
	}

	.bg-accent-color {
		background-color: #292c34;
	}
}

.markdown h2 {
	@apply text-xl font-bold mt-6
}

.markdown p {
	@apply mt-2
}

.markdown img {
	@apply mt-4
}

.markdown table {
	@apply w-full mt-2
}

.markdown table tbody tr {
	@apply border-b
}

.markdown table tbody tr td {
	@apply py-2
}

.markdown table tbody tr td:first-child {
	@apply text-gray-500
}